.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
.option-btn{
    margin-right: 10px;
}

.input-btn{
    width: 15px;
    margin-right: 10px;
    margin-left: 5px;
}