.create-quiz-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.create-quiz-sidebar {
  width: 14rem;
  flex-direction: column;
  align-content: center;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  background-color: white;
}
.sidebar-questions {
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  height: 80%;
}
.sidebar-questions-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 120px;
  border-bottom: 3px solid #f2f2f2;
}
.sidebar-questions-erase-container {
  width: 15px;
  padding: 85px 3px 20px;
}
.sidebar-questions-erase {
  cursor: pointer;
  background-color: rgb(206, 19, 19);
  border-radius: 15px;
  height: 100%;
}
.sidebar-questions-p-container {
  padding: 5px;
  cursor: pointer;
}
.sidebar-questions-p-container p {
  text-align: center;
}
.sidebar-button-section {
  display: flex;
  justify-content: center;
  height: 20%;
}
.sidebar-button-container {
  display: flex;
  padding: 12% 0;
}

.sidebar-button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  min-width: 42px;
  min-height: 22px;
  border-width: 0px;
  background: #1368ce;
  border-radius: 4px;
  padding: 0px 16px 4px;
  text-align: center;
}
.form-area {
  width: 100%;
}
.add-new-quiz-container {
  display: flex;
  padding: 0px 0px 40px;
  border-top: 1px solid #f2f2f2;
}
.add-new-quiz-button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 42px;
  border-width: 0px;
  background: #ce1313;
  padding: 0px 16px 4px;
  text-align: center;
}
.new-question-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.new-question {
  display: flex;
  padding: 0 40px;
}
.new-question-input,
.new-question-answer-input {
  flex-grow: 1;
  border: 0;
}
.new-question-input {
  padding: 1em 0.75em;
  font-size: 40px;
}
.new-question-answer-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}
.new-question-answer {
  display: flex;
  width: 50%;
  padding: 0 10px;
}
.new-question-answer-input {
  padding: 0.75em 0.75em;
}
.new-question-answer-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-width: 0px;
  text-align: center;
}
.incorrect-answer-button {
  color: #ce1313;
  background: rgb(255, 255, 255);
}
.correct-answer-button {
  color: rgb(255, 255, 255);
  background: #13ce42;
}

.add-new-question-container {
  display: flex;
  padding: 70px 60px 0;
}
.add-new-question-button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 42px;
  border-width: 0px;
  background: rgb(168, 19, 206);
  border-radius: 4px;
  padding: 0px 16px 4px;
  text-align: center;
}
