.play-quiz-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.play-quiz-input {
  flex-grow: 1;
  border: 0;
  padding: 1em 0.75em;
  font-size: 40px;
}

.play-quiz-hash-container {
  display: flex;
  padding: 0 400px 100px;
  flex-direction: column;
}
.hash-input {
  border: 3px solid #cccccc;
  border-radius: 4px;
  text-align: center;
  padding: 0.75em 0.75em;
}
.play-quiz-title {
  font-style: italic;
  text-align: center;
}
.play-quiz-hash-button {
  margin-top: 20px;
  height: 42px;
  background-color: rgb(29, 29, 29);
}

.play-quiz-question-container {
  display: flex;
  padding: 0 40px;
}
.play-quiz-time-left-container {
  display: flex;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-content: center;
  align-self: center;
  border: 5px solid #ad0260;
  border-radius: 50%;
  margin-top: 20px;
}
.play-quiz-time-left {
  font-style: italic;
  text-align: center;
}
.play-quiz-answer-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}
.play-quiz-answer {
  display: flex;
  width: 50%;
  padding: 0 10px;
}
.play-quiz-answer-button {
  width: 100%;
  height: 42px;
}
.play-quiz-result-container {
  display: flex;
  padding: 0 500px 100px;
  flex-direction: column;
}
.result-title {
  color: white;
}
.result-correct {
  background-color: #1368ce;
}
.result-incorrect {
  background-color: #ce1313;
}
.play-quiz-result-button {
  margin-top: 20px;
  height: 42px;
  background-color: rgb(29, 29, 29);
  width: 100%;
}
