/* CSS files add styling rules to your content */

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0px;
}
#root {
  height: 100vh;
}

.navbar {
  background-color: #468f17;
}
.navbar-items-container {
  padding: 20px;
}
.return-button {
  color: white;
  text-decoration: none;
  /* border: 2px solid white; */
}
.return-button span {
  border: 2px solid white;
  padding: 10px;
  border-radius: 8px;
}

.app-body-container {
  height: calc(100% - 58px);
}
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu-link {
  text-decoration: none;
}
.menu-button-container {
  display: flex;
  margin: 10px 0 0;
}

.button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  border-width: 0px;
  background: #1368ce;
  padding: 0px 16px 4px;
  border-radius: 4px;
  text-align: center;
}
.menu-button {
  width: 500px;
  height: 500px;
  font-size: 20px;
}
.blue {
  background-color: #1368ce;
}
.red {
  background-color: #ce1313;
}
