/* NAVBAR */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/


/*news cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containercard {
    padding: 2px 16px;
  }

  .leftdivcontainer {
    float:left;
    width: 75%;
  }
  .rigthdivcontainer{
    float: right;
    width: 25%;
  }
  
  .buttoncard {
    display: inline-block;
    border-radius: 4px;
    background-color: #555555;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 120%;
    padding: 8%;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10%;
  }
  
  .buttoncard span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttoncard span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50%;
    transition: 0.5s;
  }
  
  .buttoncard:hover span {
    padding-right: 14%;
  }
  
  .buttoncard:hover span:after {
    opacity: 1;
    right: 0;
  }
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
  

/*card list container*/
  .cardscontainer {
    width:100%
  }
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/


/*read more card*/

.cardrd {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  display: table;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.cardrd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containercardrd {
  padding: 2px 16px;
}

.leftdivcontainerrd {
  float:left;
  width: 75%;
}
.rigthdivcontainerrd{
  float: right;
  width: 25%;
  margin-bottom: 2%;
}

.buttoncardrd {
  display: inline-block;
  border-radius: 4px;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 120%;
  padding: 8%;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10%;
}

.buttoncardrd span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttoncardrd span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50%;
  transition: 0.5s;
}

.buttoncardrd:hover span {
  padding-right: 14%;
}

.buttoncardrd:hover span:after {
  opacity: 1;
  right: 0;
}
.textocontenidord {
  margin: 2%;
}
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/


/**formulario*/
.inputfrm[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputfrm[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputfrm[type=submit]:hover {
  background-color: #45a049;
}

.divfrm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  display: table;
  margin: 0 auto;
  margin-top: 2%;
}
.textareafrm {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: true;
}
.centered-text{
  text-align: center;
}
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/